.info-section {
  $spacing-base: 15px;
  background-color: #fff;
  overflow: scroll;
  height: 100px;
  padding: 0 auto;

  .info-btns-list {
    position: relative;
    list-style: none;
    margin: $spacing-base;
    padding: 0;

    .info-btns-list-item {
      float: left;
      margin-right: $spacing-base * 10;
    }
  }

  .desc {
    position: relative;
    background-color: #ccc;
    border-radius: 4px;
    padding: $spacing-base;
  }
}
